<!-- <po-modal
p-title="Venha fazer parte da nossa equipe!"
[p-primary-action]="confirm"
[p-secondary-action]="close"
>
<form [formGroup] = "signUpForm">
  <div class="po-row">
    <po-input
        p-disabled="true"
        p-label="Nome"
        p-placeholder="Ex: Cleiton Silva"
        p-readonly="true"
        class = "po-lg-12"
        formControlName = "name">
    </po-input>
    <po-input
        p-disabled="true"
        p-label="E-mail"
        p-placeholder="Ex: exemplo@exemplo.com"
        p-readonly="true"
        class = "po-lg-12"
        formControlName = "email">
    </po-input>
    <po-input
        p-disabled="true"
        p-label="Senha"
        p-placeholder="Ex: Cleiton Silva"
        p-readonly="true"
        class = "po-lg-12"
        formControlName = "password">
    </po-input>
  </div>
</form>
</po-modal> -->

<p>works</p>